@import 'vars';
@import 'reset';
@import 'fonts';
@import 'global';


.header {
    padding: 40px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link {
        color: $title;
        padding-bottom: 1px;
        transition: all .3s ;
        &:hover {
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %quicksand-400;
        }
    }
    &__list-link--active {
        color: $accent;
        border-bottom: 1px solid $accent;
    }
}

.user-nav {
   display: flex;
   &__link {
        position: relative;
   }
   &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -10px;
        right: -14px;
        font-size: 12px;
        color: white;
        text-align: center;
        line-height: 20px;
   }
   &__link + .user-nav__link{
        padding-left: 25px;
   } 
}

@import 'media';

